@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #121212;
  font-family: "Roboto", sans-serif;
  resize: none;
  text-decoration: none;
}

.landing-page {
  width: 100%;
  height: auto;
  position: relative;
  background: #c0c0c0;
}

.landing-page .top-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #121212;
  padding-bottom: 1rem;
}

.landing-page .top-container h1 {
  font-size: 2.1rem;
  background: #1f96f7;
  width: 30rem;
  padding: 0.5rem 0;
  font-weight: 1000;
}

.landing-page .top-container section {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #121212;
}

.landing-page .top-container section span {
  color: #fff;
}

.landing-page .top-container section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.landing-page .top-container section ul a {
  margin: 0 0.5rem;
}

.landing-page .top-container section ul a li {
  color: #fff;
}

.landing-page .top-container img {
  margin-top: 1rem;
  width: 98%;
}

.landing-page .container {
  width: 100%;
  height: auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.landing-page .container .side-bar {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-right: 1px solid #808080;
}

.landing-page .container .side-bar .translator-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1rem 0.2rem;
  gap: 1rem;
}

.landing-page .container .side-bar .translator-section select {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  font-size: 1rem;
  background: transparent;
  outline: 1px solid #121212;
  border-radius: 0.2rem;
  cursor: pointer;
}

.landing-page .container .side-bar .translator-section textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  font-size: 1rem;
  overflow-y: scroll;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  outline: 1px solid #121212;
  background: transparent;
}

.landing-page .container .side-bar .translator-section textarea::-webkit-input-placeholder {
  color: #121212;
}

.landing-page .container .side-bar .translator-section textarea:-ms-input-placeholder {
  color: #121212;
}

.landing-page .container .side-bar .translator-section textarea::-ms-input-placeholder {
  color: #121212;
}

.landing-page .container .side-bar .translator-section textarea::placeholder {
  color: #121212;
}

.landing-page .container .main {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.landing-page .container .main .top-bar {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-auto-flow: column;
  font-size: 1.3rem;
}

.landing-page .container .main .top-bar a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.landing-page .container .main .tranlated-text {
  margin-top: 0.5rem;
  width: 100%;
  height: 95%;
  border-radius: 0.4rem;
  outline: none;
}

.landing-page .container .main .tranlated-text textarea {
  width: 100%;
  height: 90%;
  padding: 1rem;
  font-size: 1rem;
  overflow-y: scroll;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  background: transparent;
  border: 1px solid #121212;
}

@media screen and (max-width: 1000px) {
  .landing-page {
    height: 100vh;
  }
  .landing-page .top-container {
    height: auto;
  }
  .landing-page .container {
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
  }
}

@media screen and (max-width: 768px) {
  .landing-page {
    height: auto;
  }
  .landing-page .container {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
    place-items: start;
  }
  .landing-page .container .side-bar {
    height: auto;
  }
  .landing-page .container .main {
    height: auto;
  }
  .landing-page .container .main .tranlated-text {
    margin-top: 1rem !important;
    height: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .landing-page .top-container h1 {
    font-size: 1.1rem;
    width: 16rem;
    font-weight: 1000;
  }
  .landing-page .top-container section span {
    font-size: .7rem !important;
  }
  .landing-page .top-container section ul a {
    margin: .3rem;
  }
  .landing-page .top-container section ul a li {
    font-size: .8rem;
  }
  .landing-page .container {
    -ms-grid-rows: 38% 62%;
        grid-template-rows: 38% 62%;
  }
  .landing-page .top-bar {
    display: none !important;
  }
  .landing-page .translator-section {
    gap: 0.5rem !important;
    padding: 0.5rem 0.2rem !important;
  }
  .landing-page .translator-section textarea {
    height: 7rem !important;
  }
}

@media screen and (max-width: 380px) {
  .container {
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
  }
}
/*# sourceMappingURL=styles.css.map */